.Swatch {
  background-color: $color-common-white;
  overflow: hidden;
}

.SwatchInner {
  position: relative;
  text-align: left;
  padding: spacing(16) spacing(1) spacing(1);
}

.hasAlpha {
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

.SwatchContent {
  background-color: $color-common-white;
  padding: 0.5em 0.75em;
  border-top-width: 0;
}

.SwatchHeading {
  font-weight: bold;
}

.SwatchListItem {
  list-style: none;
  font-size: 0.9em;
}
