.FontSample {
  > * + * {
    margin-bottom: spacing(4);
  }
}

.FontSampleHuge {
  line-height: 1;
  font-size: 140px;
  @include mq($breakpoint-tablet) {
    font-size: 200px;
  }
}

.FontSampleRange {
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  word-break: break-all;
  font-size: 36px;
  @include mq($breakpoint-tablet) {
    font-size: 60px;
  }
}

.FontSampleLabel {
  display: inline-block;
  font-size: 12px;
  width: 3ch;
}

.FontSampleWaterfall {
  overflow-x: auto;
  white-space: nowrap;
}

.FontSampleSizeGrid {
  @include mq($breakpoint-desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  div {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    max-height: 4.5em;
    text-rendering: optimizeLegibility;

    @include mq($breakpoint-desktop) {
      flex: 1 0 33.333%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1em;
      background-image: linear-gradient(
        to bottom,
        rgba($color-common-white, 0),
        rgba($color-common-white, 1)
      );
    }
  }
}
