.ButtonOutline {
  padding: (spacing(1.25) - 1) (spacing(2) - 1);
  border: 1px solid;
  line-height: spacing(2.5);
  border-radius: $radius-standard;
  color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba($color-primary, 0.2);
    color: $color-primary;
  }
}

.disabled {
  background-color: $color-grey50;
}
