$color-black: hsl(0, 0%, 0%);
$color-grey25: hsl(0, 0%, 25%);
$color-grey50: hsl(0, 0%, 50%);
$color-grey75: hsl(0, 0%, 75%);
$color-grey95: hsl(0, 0%, 95%);
$color-white: hsl(0, 0%, 100%);

$color-primary: #1565c0;
$color-primary-light: #1976d2;
$color-primary-dark: #0d47a1;

$color-status-success: #33691e;
$color-status-notice: #01579b;
$color-status-warning: #ff6f00;
$color-status-error: #b71c1c;

$color-status-list: (
  success: $color-status-success,
  notice: $color-status-notice,
  warning: $color-status-warning,
  error: $color-status-error
);

$c-text: $color-black;
$c-background: $color-white;
