.Notification {
  color: $color-white;
  background-color: $color-grey50;
  padding: spacing(2) spacing(3);
}

@each $key, $value in $color-status-list {
  .#{$key} {
    background-color: $value;
  }
}
