@import 'setting';

.DescriptionListItem {
  &Key,
  &Value {
    display: inline-block;
    font-weight: normal;
  }

  &Key {
    margin-right: spacing(0.5);
    &:after {
      content: ':';
    }
  }

  &Value {
    font-weight: bold;
  }
}
