.ResponsiveMedia {
  position: relative;
  height: 0;
  overflow: hidden;
  text-align: left; // Video in centered text can mis-align

  // Ensure images fill placeholder
  & > img,
  & > video {
    width: 100%;
  }

  // A little extra persuasion for responsive video
  & > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
