.NavigationItem {
  list-style: none;
  margin-left: 0;

  @include mq($breakpoint-tablet) {
    display: inline-block;
  }
}

.NavigationItemLink {
  display: block;
  padding: spacing(1) spacing(2);
  text-decoration: none;
  color: $color-primary;

  &:hover,
  &:focus,
  &:active {
    background: $color-primary-light;
    color: $color-white;
  }
}

.active {
  background-color: $color-primary;
  color: $color-white;
}
