.ButtonStandard {
  padding: spacing(1.25) spacing(2);
  line-height: spacing(2.5);
  border-radius: $radius-standard;
  background-color: $color-primary;
  color: $color-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-primary-dark;
    color: $color-white;
  }
}

.disabled {
  background-color: $color-grey50;
}
