@import 'true';

@import '../../grid/grid';

@include test-module('grid(): pull/push') {
  @include test('should output pull widths') {
    @include assert {
      @include output {
        @include grid-pull('', 1 2);
      }
      @include expect {
        [class*='pull-'] {
          position: relative;
        }
        .pull-one-whole {
          right: 100%;
        }
        .pull-one-half {
          right: 50%;
        }
      }
    }
  }

  @include test('should output push widths, prefixed with modifiers') {
    @include assert {
      @include output {
        @include grid-push('desktop', 2);
      }
      @include expect {
        [class*='desktop-push-'] {
          position: relative;
        }
        .desktop-push-one-half {
          left: 50%;
        }
      }
    }
  }

  @include test('should output push widths') {
    @include assert {
      @include output {
        @include grid-push('', 1 2);
      }
      @include expect {
        [class*='push-'] {
          position: relative;
        }
        .push-one-whole {
          left: 100%;
        }
        .push-one-half {
          left: 50%;
        }
      }
    }
  }

  @include test('should output pull widths, prefixed with modifiers') {
    @include assert {
      @include output {
        @include grid-pull('desktop', 2);
      }
      @include expect {
        [class*='desktop-pull-'] {
          position: relative;
        }
        .desktop-pull-one-half {
          right: 50%;
        }
      }
    }
  }
}
