@import 'true';

$grid--count-names: uno dos tres;
$grid--fraction-names: primero segundo tercero;

@import '../../grid/grid';

@include test-module('grid(): i18n') {
  @include test('should output i18n grid widths if set') {
    @include assert {
      @include output {
        @include grid-widths('', 1 2 3);
      }
      @include expect {
        .uno-primero {
          width: 100%;
        }
        .uno-segundo {
          width: 50%;
        }
        .uno-tercero {
          width: 33.33333%;
        }
        .dos-terceros {
          width: 66.66667%;
        }
      }
    }
  }

  @include test('should output i18n pull widths if set') {
    @include assert {
      @include output {
        @include grid-pull('', 1 2);
      }
      @include expect {
        [class*='pull-'] {
          position: relative;
        }
        .pull-uno-primero {
          right: 100%;
        }
        .pull-uno-segundo {
          right: 50%;
        }
      }
    }
  }

  @include test('should output i18n push widths if set') {
    @include assert {
      @include output {
        @include grid-push('', 1 2);
      }
      @include expect {
        [class*='push-'] {
          position: relative;
        }
        .push-uno-primero {
          left: 100%;
        }
        .push-uno-segundo {
          left: 50%;
        }
      }
    }
  }
}
