@import 'backline-mixins';
@import './setting/font';
@import './normalize/normailze';

:global {
  body {
    font-size: spacing(2); // 16
    line-height: spacing(3); // 24
    font-weight: normal;
    font-family: $font--body;
  }
}
