.CalendarItem {
  display: inline-block;
  width: (100% / 7);
  border-top: 1px solid $color-grey50;
  @include mq($breakpoint-tablet) {
    border-right: 1px solid $color-grey50;
  }
}

.CalendarItemButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: spacing(0.5);
  transition: background-color $duration-standard $easing-standard;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transition-duration: $duration-shortest;
  }

  @include mq($breakpoint-tablet) {
    padding-top: spacing(1);
    padding-bottom: spacing(1);
  }

  .selected & {
    color: $color-primary;
    font-weight: bold;
    background: $color-primary-light;

    &:hover {
      background-color: $color-primary-light;
      color: $color-white;
    }
  }

  .today & {
    font-weight: bold;
  }

  .disabled &,
  .outOfRange &,
  .overlapping & {
    color: $color-grey75;
    background-color: transparent;
    pointer-events: none;
  }

  .disabled.selected &,
  .outOfRange.selected & {
    color: $color-primary;
    span {
      opacity: 0.5;
    }
  }
}
