.CalendarHeader {
  text-align: center;
  padding-top: spacing(1);
  padding-bottom: spacing(1);
  color: $color-primary;
  display: flex;
}

.CalendarHeaderHeading {
  order: 1;
  flex: 1 0 auto;
}

.CalendarHeaderLinkPrevious {
  order: 0;
}

.CalendarHeaderLinkNext {
  order: 2;
}
