:global {
  html {
    height: auto;
    min-height: 100%;
    overflow: visible;
  }
  body,
  #root {
    height: 100%;
    overflow: visible;
  }

  [style*='selector-hack--story-info-content'] {
    > * + * {
      margin-top: 20px;
    }
  }

  $grid-active: true;
  $grid-color: rgba(0, 0, 0, 0.05);

  @if $grid-active {
    html {
      background-image: repeating-linear-gradient(
        to bottom,
        $grid-color,
        $grid-color 1px,
        transparent 1px,
        transparent
      );
      background-position: 0 1px;
      background-size: 8px 8px;
    }
  }
}
