.Badge {
  display: inline-block;
  padding: spacing(0.25) spacing(1) (spacing(0.25) + 1px);
  // background-color: $color-primary;
  // border-radius: $radius-small;
  font-size: 12px;
  line-height: 16px;
  // color: $color-white;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-transform: uppercase;
  @include font-smoothing;
}

// @each $key, $value in $color-status-list {
//   .#{$key} {
//     background-color: $value !important;
//   }
// }
