@import 'true';

@import '../../grid/grid';

@include test-module('grid(): widths') {
  @include test(
    'should output grid widths from whole width, through to sixteenths'
  ) {
    @include assert {
      @include output {
        @include grid-widths('', 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16);
      }
      @include expect {
        .one-whole {
          width: 100%;
        }
        .one-half {
          width: 50%;
        }
        .one-third {
          width: 33.33333%;
        }
        .two-thirds {
          width: 66.66667%;
        }
        .one-quarter {
          width: 25%;
        }
        .two-quarters {
          width: 50%;
        }
        .three-quarters {
          width: 75%;
        }
        .one-fifth {
          width: 20%;
        }
        .two-fifths {
          width: 40%;
        }
        .three-fifths {
          width: 60%;
        }
        .four-fifths {
          width: 80%;
        }
        .one-sixth {
          width: 16.66667%;
        }
        .two-sixths {
          width: 33.33333%;
        }
        .three-sixths {
          width: 50%;
        }
        .four-sixths {
          width: 66.66667%;
        }
        .five-sixths {
          width: 83.33333%;
        }
        .one-seventh {
          width: 14.28571%;
        }
        .two-sevenths {
          width: 28.57143%;
        }
        .three-sevenths {
          width: 42.85714%;
        }
        .four-sevenths {
          width: 57.14286%;
        }
        .five-sevenths {
          width: 71.42857%;
        }
        .six-sevenths {
          width: 85.71429%;
        }
        .one-eighth {
          width: 12.5%;
        }
        .two-eighths {
          width: 25%;
        }
        .three-eighths {
          width: 37.5%;
        }
        .four-eighths {
          width: 50%;
        }
        .five-eighths {
          width: 62.5%;
        }
        .six-eighths {
          width: 75%;
        }
        .seven-eighths {
          width: 87.5%;
        }
        .one-ninth {
          width: 11.11111%;
        }
        .two-ninths {
          width: 22.22222%;
        }
        .three-ninths {
          width: 33.33333%;
        }
        .four-ninths {
          width: 44.44444%;
        }
        .five-ninths {
          width: 55.55556%;
        }
        .six-ninths {
          width: 66.66667%;
        }
        .seven-ninths {
          width: 77.77778%;
        }
        .eight-ninths {
          width: 88.88889%;
        }
        .one-tenth {
          width: 10%;
        }
        .two-tenths {
          width: 20%;
        }
        .three-tenths {
          width: 30%;
        }
        .four-tenths {
          width: 40%;
        }
        .five-tenths {
          width: 50%;
        }
        .six-tenths {
          width: 60%;
        }
        .seven-tenths {
          width: 70%;
        }
        .eight-tenths {
          width: 80%;
        }
        .nine-tenths {
          width: 90%;
        }
        .one-eleventh {
          width: 9.09091%;
        }
        .two-elevenths {
          width: 18.18182%;
        }
        .three-elevenths {
          width: 27.27273%;
        }
        .four-elevenths {
          width: 36.36364%;
        }
        .five-elevenths {
          width: 45.45455%;
        }
        .six-elevenths {
          width: 54.54545%;
        }
        .seven-elevenths {
          width: 63.63636%;
        }
        .eight-elevenths {
          width: 72.72727%;
        }
        .nine-elevenths {
          width: 81.81818%;
        }
        .ten-elevenths {
          width: 90.90909%;
        }
        .one-twelfth {
          width: 8.33333%;
        }
        .two-twelfths {
          width: 16.66667%;
        }
        .three-twelfths {
          width: 25%;
        }
        .four-twelfths {
          width: 33.33333%;
        }
        .five-twelfths {
          width: 41.66667%;
        }
        .six-twelfths {
          width: 50%;
        }
        .seven-twelfths {
          width: 58.33333%;
        }
        .eight-twelfths {
          width: 66.66667%;
        }
        .nine-twelfths {
          width: 75%;
        }
        .ten-twelfths {
          width: 83.33333%;
        }
        .eleven-twelfths {
          width: 91.66667%;
        }
        .one-thirteenth {
          width: 7.69231%;
        }
        .two-thirteenths {
          width: 15.38462%;
        }
        .three-thirteenths {
          width: 23.07692%;
        }
        .four-thirteenths {
          width: 30.76923%;
        }
        .five-thirteenths {
          width: 38.46154%;
        }
        .six-thirteenths {
          width: 46.15385%;
        }
        .seven-thirteenths {
          width: 53.84615%;
        }
        .eight-thirteenths {
          width: 61.53846%;
        }
        .nine-thirteenths {
          width: 69.23077%;
        }
        .ten-thirteenths {
          width: 76.92308%;
        }
        .eleven-thirteenths {
          width: 84.61538%;
        }
        .twelve-thirteenths {
          width: 92.30769%;
        }
        .one-fourteenth {
          width: 7.14286%;
        }
        .two-fourteenths {
          width: 14.28571%;
        }
        .three-fourteenths {
          width: 21.42857%;
        }
        .four-fourteenths {
          width: 28.57143%;
        }
        .five-fourteenths {
          width: 35.71429%;
        }
        .six-fourteenths {
          width: 42.85714%;
        }
        .seven-fourteenths {
          width: 50%;
        }
        .eight-fourteenths {
          width: 57.14286%;
        }
        .nine-fourteenths {
          width: 64.28571%;
        }
        .ten-fourteenths {
          width: 71.42857%;
        }
        .eleven-fourteenths {
          width: 78.57143%;
        }
        .twelve-fourteenths {
          width: 85.71429%;
        }
        .thirteen-fourteenths {
          width: 92.85714%;
        }
        .one-fifteenth {
          width: 6.66667%;
        }
        .two-fifteenths {
          width: 13.33333%;
        }
        .three-fifteenths {
          width: 20%;
        }
        .four-fifteenths {
          width: 26.66667%;
        }
        .five-fifteenths {
          width: 33.33333%;
        }
        .six-fifteenths {
          width: 40%;
        }
        .seven-fifteenths {
          width: 46.66667%;
        }
        .eight-fifteenths {
          width: 53.33333%;
        }
        .nine-fifteenths {
          width: 60%;
        }
        .ten-fifteenths {
          width: 66.66667%;
        }
        .eleven-fifteenths {
          width: 73.33333%;
        }
        .twelve-fifteenths {
          width: 80%;
        }
        .thirteen-fifteenths {
          width: 86.66667%;
        }
        .fourteen-fifteenths {
          width: 93.33333%;
        }
        .one-sixteenth {
          width: 6.25%;
        }
        .two-sixteenths {
          width: 12.5%;
        }
        .three-sixteenths {
          width: 18.75%;
        }
        .four-sixteenths {
          width: 25%;
        }
        .five-sixteenths {
          width: 31.25%;
        }
        .six-sixteenths {
          width: 37.5%;
        }
        .seven-sixteenths {
          width: 43.75%;
        }
        .eight-sixteenths {
          width: 50%;
        }
        .nine-sixteenths {
          width: 56.25%;
        }
        .ten-sixteenths {
          width: 62.5%;
        }
        .eleven-sixteenths {
          width: 68.75%;
        }
        .twelve-sixteenths {
          width: 75%;
        }
        .thirteen-sixteenths {
          width: 81.25%;
        }
        .fourteen-sixteenths {
          width: 87.5%;
        }
        .fifteen-sixteenths {
          width: 93.75%;
        }
      }
    }
  }

  @include test('should output grid widths, prefixed with modifiers') {
    @include assert {
      @include output {
        @include grid-widths('desktop', 1);
      }
      @include expect {
        .desktop-one-whole {
          width: 100%;
        }
      }
    }
  }
}
