@import 'true';

@import '../../function/ratio-percentage';

@include test-module('ratio-percentage()') {
  @include test('should return a ratio-percentage between two numbers') {
    @include assert-equal(ratio-percentage(1, 2), 50%);
    @include assert-equal(ratio-percentage(2, 1), 200%);
    @include assert-equal(ratio-percentage(1, 1), 100%);
    @include assert-equal(ratio-percentage(9, 16), 56.25%);
  }

  @include test('should handle zero as denominator') {
    @include assert-equal(ratio-percentage(0, 0), 0);
  }
}
