@import 'true';

@import '../../function/shade';

@include test-module('shade()') {
  @include test('should mix any color format with black') {
    @include assert-equal(shade(#0f0, 20%), #00cc00);
    @include assert-equal(shade(rgb(0, 255, 0), 20%), #00cc00);
    @include assert-equal(shade(hsl(120, 100%, 50%), 20%), #00cc00);
    @include assert-equal(shade(lime, 20%), #00cc00);
  }
}
