//
// SHADOW
// ======
//
// https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-elevation-android
// https://codepen.io/shyndman/pen/ojxmdY
//

$shadow-intensity: 1 !default;

$_shadow-color-key-umbra: rgba(0, 0, 0, (0.2 * $shadow-intensity));
$_shadow-color-key_penumbra: rgba(0, 0, 0, (0.14 * $shadow-intensity));
$_shadow-color-ambient: rgba(0, 0, 0, (0.12 * $shadow-intensity));

$_shadows: (
    0 1px 3px 0 $_shadow-color-key-umbra,
    0 1px 1px 0 $_shadow-color-key_penumbra,
    0 2px 1px -1px $_shadow-color-ambient
  ),
  (
    0 1px 5px 0 $_shadow-color-key-umbra,
    0 2px 2px 0 $_shadow-color-key_penumbra,
    0 3px 1px -2px $_shadow-color-ambient
  ),
  (
    0 1px 8px 0 $_shadow-color-key-umbra,
    0 3px 4px 0 $_shadow-color-key_penumbra,
    0 3px 3px -2px $_shadow-color-ambient
  ),
  (
    0 2px 4px -1px $_shadow-color-key-umbra,
    0 4px 5px 0 $_shadow-color-key_penumbra,
    0 1px 10px 0 $_shadow-color-ambient
  ),
  (
    0 3px 5px -1px $_shadow-color-key-umbra,
    0 5px 8px 0 $_shadow-color-key_penumbra,
    0 1px 14px 0 $_shadow-color-ambient
  ),
  (
    0 3px 5px -1px $_shadow-color-key-umbra,
    0 6px 10px 0 $_shadow-color-key_penumbra,
    0 1px 18px 0 $_shadow-color-ambient
  ),
  (
    0 4px 5px -2px $_shadow-color-key-umbra,
    0 7px 10px 1px $_shadow-color-key_penumbra,
    0 2px 16px 1px $_shadow-color-ambient
  ),
  (
    0 5px 5px -3px $_shadow-color-key-umbra,
    0 8px 10px 1px $_shadow-color-key_penumbra,
    0 3px 14px 2px $_shadow-color-ambient
  ),
  (
    0 5px 6px -3px $_shadow-color-key-umbra,
    0 9px 12px 1px $_shadow-color-key_penumbra,
    0 3px 16px 2px $_shadow-color-ambient
  ),
  (
    0 6px 6px -3px $_shadow-color-key-umbra,
    0 10px 14px 1px $_shadow-color-key_penumbra,
    0 4px 18px 3px $_shadow-color-ambient
  ),
  (
    0 6px 7px -4px $_shadow-color-key-umbra,
    0 11px 15px 1px $_shadow-color-key_penumbra,
    0 4px 20px 3px $_shadow-color-ambient
  ),
  (
    0 7px 8px -4px $_shadow-color-key-umbra,
    0 12px 17px 2px $_shadow-color-key_penumbra,
    0 5px 22px 4px $_shadow-color-ambient
  ),
  (
    0 7px 8px -4px $_shadow-color-key-umbra,
    0 13px 19px 2px $_shadow-color-key_penumbra,
    0 5px 24px 4px $_shadow-color-ambient
  ),
  (
    0 7px 9px -4px $_shadow-color-key-umbra,
    0 14px 21px 2px $_shadow-color-key_penumbra,
    0 5px 26px 4px $_shadow-color-ambient
  ),
  (
    0 8px 9px -5px $_shadow-color-key-umbra,
    0 15px 22px 2px $_shadow-color-key_penumbra,
    0 6px 28px 5px $_shadow-color-ambient
  ),
  (
    0 8px 10px -5px $_shadow-color-key-umbra,
    0 16px 24px 2px $_shadow-color-key_penumbra,
    0 6px 30px 5px $_shadow-color-ambient
  ),
  (
    0 8px 11px -5px $_shadow-color-key-umbra,
    0 17px 26px 2px $_shadow-color-key_penumbra,
    0 6px 32px 5px $_shadow-color-ambient
  ),
  (
    0 9px 11px -5px $_shadow-color-key-umbra,
    0 18px 28px 2px $_shadow-color-key_penumbra,
    0 7px 34px 6px $_shadow-color-ambient
  ),
  (
    0 9px 12px -6px $_shadow-color-key-umbra,
    0 19px 29px 2px $_shadow-color-key_penumbra,
    0 7px 36px 6px $_shadow-color-ambient
  ),
  (
    0 10px 13px -6px $_shadow-color-key-umbra,
    0 20px 31px 3px $_shadow-color-key_penumbra,
    0 8px 38px 7px $_shadow-color-ambient
  ),
  (
    0 10px 13px -6px $_shadow-color-key-umbra,
    0 21px 33px 3px $_shadow-color-key_penumbra,
    0 8px 40px 7px $_shadow-color-ambient
  ),
  (
    0 10px 14px -6px $_shadow-color-key-umbra,
    0 22px 35px 3px $_shadow-color-key_penumbra,
    0 8px 42px 7px $_shadow-color-ambient
  ),
  (
    0 11px 14px -7px $_shadow-color-key-umbra,
    0 23px 36px 3px $_shadow-color-key_penumbra,
    0 9px 44px 8px $_shadow-color-ambient
  ),
  (
    0 11px 15px -7px $_shadow-color-key-umbra,
    0 24px 38px 3px $_shadow-color-key_penumbra,
    0 9px 46px 8px $_shadow-color-ambient
  );

@function shadow($depth: 0) {
  @if $depth > 0 and $depth <= length($_shadows) {
    @return nth($_shadows, $depth);
  }
  @return none;
}
