//
// TRACKING
// ========
//

@import './strip-unit';

@function tracking($val, $base: false) {
  @if ($val == 0) {
    @return 0;
  }
  @if $base {
    @return (($val * strip-unit($base)) / 1000) * 1px;
  }
  @return ($val / 1000) * 1em;
}
