@import 'true';

@import '../../function/ratio';

@include test-module('ratio()') {
  @include test('should return a ratio between two numbers') {
    @include assert-equal(ratio(1, 2), 0.5);
    @include assert-equal(ratio(2, 1), 2);
    @include assert-equal(ratio(1, 1), 1);
    @include assert-equal(ratio(9, 16), 0.5625);
  }

  @include test('should handle zero as denominator') {
    @include assert-equal(ratio(0, 0), 0);
  }
}
