@import 'true';

@import '../../function/shadow';

@include test-module('shadow()') {
  @include test('should output shadow at requested depth') {
    @include assert-equal(
      shadow(1),
      (
        0 1px 3px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 2px 1px -1px rgba(0, 0, 0, 0.12)
      )
    );
    @include assert-equal(
      shadow(24),
      (
        0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12)
      )
    );
  }
}

@include test-module('shadow()') {
  @include test('should output no shadow at 0 depth') {
    @include assert-equal(shadow(0), none);
  }
}

@include test-module('shadow()') {
  @include test('should output no shadow above maximum depth') {
    @include assert-equal(shadow(25), none);
  }
}
