@import 'true';

@import '../../function/spacing';

@include test-module('spacing()') {
  @include test('should output expected spacing value') {
    @include assert-equal(spacing(1), 8px);
    @include assert-equal(spacing(2), 16px);
  }

  @include test('should output as unitless when passed a zero value') {
    @include assert-equal(spacing(0), 0);
  }
}
