@import 'true';

@import '../../function/tint';

@include test-module('tint()') {
  @include test('should mix any color format with white') {
    @include assert-equal(tint(#0f0, 20%), #33ff33);
    @include assert-equal(tint(rgb(0, 255, 0), 20%), #33ff33);
    @include assert-equal(tint(hsl(120, 100%, 50%), 20%), #33ff33);
    @include assert-equal(tint(lime, 20%), #33ff33);
  }
}
