.Promo {
  border-radius: $radius-large;
  background-color: $color-primary;
  color: $color-white;
  min-height: spacing(12);
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;

  @include mq($max: 400px) {
    background-image: none !important;
  }
}

.PromoContent {
  padding: spacing(1.5) spacing(2) spacing(2);
  max-width: 80%;
}
